html {
    font-size: 75%; //12px
}

h1, h2, h3, h4 {
    font-weight: 700;
}

select, input {
    padding: 0.5rem;
    color: $off-white;
}

select {
    border: 1px solid $border-grey;
    border-radius: 2.5px;
    padding: 0.5rem;
}

button {
    border: 1px solid transparent;
    border-radius: 2.5px;
    font-weight: 600;
    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
    text-transform: uppercase;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 992px){
    .wrapper {
        width: 85%;
    }
}

@media (min-width: 1200px){
    .wrapper {
        width: 80%;
    }
}
