.listing__wrapper form {
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: $s-space;
    padding: $s-space;

    select {
        margin-bottom: 0.5rem;
    }

    button {
        @include red-button;

        &:hover {
            @include red-button--hover
        }
    }
}

.listing__filters {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $s-space;

    select {
        text-align: right;
        width: 140px;
    }

    > *:not(:last-child){
        margin-right: 0.5rem;
    }

    button {
        border: 1px solid $border-grey;
        max-width: 30px;
        padding: 0.5rem 0.75rem;
    }
    
    .fas {
        color: $shadow-grey;
        font-size: 1rem;
        text-align: center;
    }

    // for JS class toggling
    .listing__filter--selected{
        cursor: default;
        .fas {
            color: $off-white;
        }
   }
}

.listing {
    display: flex;
    flex-direction: column;
}

.individual-listing {
    margin-bottom: $s-space;
}

.individual-listing__img-container {
    position: relative;
    
    > img {
        display: block;
        max-height: 192px;
        width: 100%;
    }
}

.individual-listing__overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem $xs-space 0.35rem $xs-space;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    p {
        color: white;
        font-size: 1.2rem;
        letter-spacing: 0.2px;
        margin: 0;
        z-index: 1;
    }

    img {
        display: inline-block;
    }

    img:first-child {
        margin-right: 0.25rem;
    }

    img:hover {
        cursor: pointer;
    }
}

.individual-listing__overlay:after {
    @include img-overlay(rgba(0, 0, 0, 0.35))
}

.individual-listing__overlay-icon {
    background-color: $light-grey;
    border-radius: 2px;
    padding: 0.5rem;
    position: relative;
    z-index: 1;
}

.individual-listing__description {

    border: 1px solid $border-grey;
    padding: 0 $xs-space;
    @include grey-box-shadow;

    h3 {
        font-size: $sub-head;
        font-weight: 500;
        margin: $xs-space 0;
    }

    > div {
        display: flex;
        align-items: flex-end;

        img {
            padding-right: $xs-space;
        }
    }

    div:nth-child(2n){
        margin: 0.5rem 0;
    }

    div:last-child{
        margin-bottom: $xs-space;
    }

    p {
        color: $off-white;
        margin: 0;
    }
}

.listings__page-numbers {
    display: flex;
    justify-content: center;
    margin-bottom: $m-space;

    p {
        color: $off-white;
        padding: 0.5rem 1rem;
    }
    
    .listings__page-numbers--selected,
    p:last-child {
        background-color: $light-grey;
        color: black;
        font-weight: 700;
        margin-left: 0.5rem;
    }

    .listings__page-numbers--selected:hover {
        cursor: default;
    }

    p:hover {
        cursor: pointer;
    }
}

@media (min-width: 500px){
    .listing {
        align-items: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .individual-listing {
        width: 48.75%;
        h3 {
           @include no-wrap-text;
        }
    }
}

@media (min-width: 992px){
    .listing__wrapper > form {
        flex-direction: row;
        justify-content: space-between;
        min-height: auto;
        padding: $m-space;

        select, button {
            flex-basis: 48.5%;
        }

        button {
            height: 32px;
        }
    }

    .individual-listing {
        width: 32%;
    }

    .listings__page-numbers {
        margin-bottom: $l-space;
    }
}