footer {
    background-color:$dark-grey;
    color: white;
}

.footer-details {
    padding: $s-space 0 0 0;
}

.contact  {
    h3 {
        margin: 0;
        margin-bottom: $xs-space;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-bottom: $xs-space;
        padding-left: 0;
    }

    .contact__social {
        flex-direction: row;
        margin-bottom: $s-space;

        a {
            background-color: $border-grey;
            margin-right: 0.5rem;
            padding: 0.6rem 0.75rem;
            text-align: center;
            width: 30px;
        }

        a:hover {
            color: inherit;
        }
    }
}

.hours {
    margin-bottom: $s-space;
    h3 {
        margin: 0 0 $xs-space 0;
    }
}

.hours-days {
    div {
        display: flex;
        justify-content: space-between;
    }

    div:last-child p {
        margin-bottom: 0;
    }

    .set-current-day {
        font-weight: 700;
    }
}

.subscribe {
    margin-bottom: $s-space;

    h3 {
        margin: 0 0 $xs-space 0;
    }
    
    form {
        display: flex;
        align-items: center;
    }

    input {
        border-color: transparent;
        flex-basis: 72.5%;
    }
    
    button {
        flex-basis: 27.5%;
        @include red-button;

        &:hover {
            @include red-button--hover;
        }
    }
    
    p {
        margin: 0.5rem 0 0 0;
    }
}

.fullbleed__copyright {
    background-color: black;
}

footer .wrapper:last-child p {
    color: $off-white;
    font-size: 0.9rem;
    margin: 0;
    padding: $xs-space 0;
}

@media (min-width: 992px){
    .footer-details {
        display: flex;
        justify-content: space-between;
    }

    .footer-details__section {
        margin-bottom: $l-space;
    }

    .contact {
        width: 34.5%;
    }

    .hours {
        width: 27.5%;
    }

    .subscribe {
        width: 32%;
    }
}


