header {
    color: white;
    margin-bottom: $m-space;
}

nav {
    background: $dark-grey;
}

.header__fullbleed {
    background: url('../assets/bmw-background.jpg');
    background-size: cover;
    background-position: 55% 0;
    padding: 72.5vh 0 2.5vh 0;
    // padding: 21.5rem 0 1.5rem 0;
    position: relative;

    h1 {
        font-weight: 600;
        font-size: 2rem;
    }
}

.header__fullbleed:after{
    @include img-overlay(rgba(0, 0, 0, 0.25))
}

.header__fullbleed ul {
    padding-left: 0;
    display: flex;

    li:first-child{
        list-style: none;
        font-weight: 700;
    }

    li:not(:last-child){
        margin-right: 2rem;
    }

    li:not(:first-child){
        padding-left: 0.25rem;
    }
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.header__car-specs {
    position: relative;
    z-index: 10;
}


// *** BOOTSTRAP ***

.navbar {
    padding: 0 5% 0 5%; //padding for mobile
}


.navbar-light .navbar-brand, 
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    letter-spacing: 0.5px
}

//overide default hover effect
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: inherit;
}   

.navbar-light .navbar-nav .nav-login, 
.navbar-light .navbar-nav .nav-search {
    font-weight: 400;
}

.navbar-light .navbar-brand {
    font-size: 2.5rem;
}

.navbar-light .navbar-brand:hover{
    color: inherit;
} 

.navbar-light .navbar-toggler {
    border-color: $off-white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
