header {
    color: white;
    margin-bottom: $m-space;
}

nav {
    background: $dark-grey;
}

h1 {
    font-size: 2rem;
}

.navbar .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-nav ul {
    list-style: none;
    padding-left: 0;
}

.header__fullbleed {
    background: url('../assets/bmw-background.jpg');
    background-size: cover;
    background-position: 55% 0;
    padding: 32.5vh 0 2.5vh 0;
    position: relative;

}

.header__fullbleed:after{
    @include img-overlay(rgba(0, 0, 0, 0.25))
}

.header__fullbleed ul {
    display: flex;
    padding-left: 0;

    li:first-child{
        font-weight: 700;
        list-style: none;
    }

    li:not(:last-child){
        margin-right: 1.65rem;
    }
}

.header__car-specs {
    position: relative;
    z-index: 10;
}


// *** BOOTSTRAP ***
.navbar {
    padding: 0; //padding for mobile
}

// .navbar-collapse {
//     flex-basis: auto;
//     flex-grow: 0;
// }

.navbar-expand-lg .navbar-nav li{
    font-weight: 700;
}

.navbar-light .navbar-brand, 
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5rem 0;
}

.navbar-light .navbar-nav .nav-link {
    letter-spacing: 0.5px
}

//overide default hover effect
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: inherit;
}   

.navbar-light .navbar-nav .nav-login, 
.navbar-light .navbar-nav .nav-search {
    font-weight: 400;
}

.navbar-light .navbar-brand {
    font-size: 2.5rem;
}

.navbar-light .navbar-brand:hover{
    color: inherit;
} 

.navbar-light .navbar-toggler {
    border-color: $border-grey;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 992px){

    header {
        margin-bottom: $l-space;
    }
    
    .navbar-expand-lg .navbar-nav {
        flex-basis: 60%;
        justify-content: space-between;

        li {
            flex-basis: 10%;
            text-align: center;
        }

        ul {
            display: flex;
            flex-basis: 20%;
            justify-content: space-between;
            margin-left: $xs-space;

            li {
                flex-basis: auto;
            }
        }
    }

    .login:after {
        content: '';
        background-color: $border-grey;
        position: absolute;
        top: 0;
        left: 95.75%;
        height: 54px;
        width: 2px;
    }

    .header__fullbleed {
        background-position: 55% 35%;
    }

    .header__fullbleed ul li:not(:last-child){
        margin-right: 2.25rem;
    }
}

