// colors
$off-white: #999; //text
$border-grey: #b4b4b44f; 
$dark-grey: #282828; //header & footer bg
$light-grey: #ededed4f; //icon-background
$shadow-grey: #c4c4c469;
$button-red: #e24949;

//font-size
$s-head: 1.25rem;
$sub-head: 1.6rem;
$section-head: 2.0rem;

//spacing
$xs-space: 1rem;
$s-space: 1.75rem;
$m-space: 3rem;
$l-space: 4.25rem;

//mixins
@mixin img-overlay($color){
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color;
}

@mixin grey-box-shadow{
    box-shadow: 0px 1px 1.5px $shadow-grey;
}

@mixin red-button{
    background-color: $button-red;
    color: white;
    font-weight: 700;
    transition: all 0.25s;
}

@mixin red-button--hover{
    background-color: white;
    border-color: $button-red;
    color: $button-red;
}