.testimony {
    background-color: $light-grey;
    margin-bottom: $m-space;
    padding: 2.25rem $s-space;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
            flex-basis: 50%;
            text-align: center;
        }
    }

    h2 {
        font-size: $section-head;
        margin: 0;
    }

    p {
        color: $off-white;
        margin: 0;
    }
}

.testimony__top {
    margin-bottom: $xs-space;
}

@media (min-width: 992px){
    .testimony {
        margin-bottom: $l-space;
        padding: $m-space $s-space;

        .wrapper div {
            flex-basis: 25%;
        }
    }
}